In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

import numpy as np 
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report


from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from config import db_password
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv(Path('../Resources/Covid_TravelData_Full.csv'))
df.head()

,date,year,monthnumber,month,mm_yyyy,daynumber,newcases,totalcases,newdeaths,totalvaccinations,peoplevaccinated,peoplefullyvaccinated,newvaccinations,numberofpassengers
0,2020-01-01,2020,1,January,Jan-20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2178656
1,2020-01-02,2020,1,January,Jan-20,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2422272
2,2020-01-03,2020,1,January,Jan-20,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2210542
3,2020-01-04,2020,1,January,Jan-20,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1806480
4,2020-01-05,2020,1,January,Jan-20,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1815040

In [3]:
# fill the Nan with 0
df = df.fillna(0)
df.head()

,date,year,monthnumber,month,mm_yyyy,daynumber,newcases,totalcases,newdeaths,totalvaccinations,peoplevaccinated,peoplefullyvaccinated,newvaccinations,numberofpassengers
0,2020-01-01,2020,1,January,Jan-20,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2178656
1,2020-01-02,2020,1,January,Jan-20,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2422272
2,2020-01-03,2020,1,January,Jan-20,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2210542
3,2020-01-04,2020,1,January,Jan-20,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1806480
4,2020-01-05,2020,1,January,Jan-20,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1815040

## Linear Regression

In [4]:
y = df['numberofpassengers']
X = df.drop(columns=["numberofpassengers", "date", "year", "monthnumber", "month", "mm_yyyy", "daynumber"])
X.head()

,newcases,totalcases,newdeaths,totalvaccinations,peoplevaccinated,peoplefullyvaccinated,newvaccinations
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

X_train.shape

(668, 7)

In [6]:
len(X_test)

223

In [7]:
len(y_test)

223

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [10]:
y_pred = model.predict(X_test_scaled)
model_pred = y_pred
model_pred

array([2250867.94535217,  859281.96523524,  972045.05112415,
       2061348.3698166 , 1932877.4535275 , 1490202.12250493,
        815777.32605791, 1050253.14144647, 1050253.28706752,
        899905.25129976, 2163674.29458872, 1050253.14144647,
       1050253.14144647, 1050253.14144647,  906350.28476635,
       1092927.65467912, 1998721.20544537, 1563063.21901806,
        888333.39108446, 1216859.47927925,  739487.29904243,
       1048588.80449704, 1996294.19875073,  347572.64029621,
        476574.77936589, 2113125.56858492, 1489968.96406226,
       2220683.44031038, 1904936.65265165, 1862452.67669724,
       2105205.74223127, 1055438.63688021, 1396955.29265287,
       1772219.53001453, 1876354.05062085,  863881.01182943,
       1608582.97992905,  835894.81589099,  486193.87240606,
       1978083.49945581,  812986.27888048, 1050253.14144647,
       2238032.48990006,  844221.53938449, 2099364.72873231,
        489155.05800772, 1050018.16475714, 2172445.2769182 ,
       1597332.89467957, 2174454.99537587,  951254.10765246,
       1050253.3532589 ,  852374.24900731,  898549.64755176,
       1019960.6393417 ,  787019.79309269, 1023573.86210673,
       1586240.29555674, 1050253.14144647,  983224.51284275,
        994224.71142658, 2197393.75725291, 2173758.60289294,
        998918.79022066, 1879007.94637197,  959055.0668518 ,
       1680366.42886862,  975623.85468002,  842241.79939764,
        845407.50389283, 1982141.50399296, 1866419.23908772,
       1740224.15369422, 1896605.94150701, 1628054.45598588,
       1997094.28910639,  924574.76483638, 1825032.38207318,
       1488088.06437756, 1828078.99074302, 1801242.51919396,
        954621.40215226, 1563388.73912509,  840952.6333727 ,
       1305651.04598645, 1835463.9730127 , 1794304.44207818,
       1903536.95106128, 2037862.60812323, 1705285.61360537,
       2108352.75732876, 1945282.31744588, 2015905.87379859,
       1050253.32678235, 2034478.24864173, 1141987.40626462,
        675756.65743311, 1050253.14144647, 2146631.16098866,
       2241641.30443706, 2017969.66156395, 2228088.41029441,
       1049782.68430904, 1935054.43024995,  682089.88448626,
        403410.23056438,  797469.79991376, 1120637.18771701,
       1050253.32678235,  562521.74245873, 1950685.77674508,
       1050253.00141685, 1554080.88905305,  930331.53692968,
       1632678.56764279, 1823415.71880615,  714143.59883816,
       1995420.96720018, 1787035.71110751, 1907298.90541872,
       1072109.58454785,  981177.00006436,  553841.07142877,
       1592223.5527924 ,  862827.97999473, 2159181.18883478,
       1334912.52856692, 1958478.84227538,  971129.16318058,
       2153984.156234  ,  884165.40703381,  788261.1497115 ,
       1609246.79620099, 1735531.46090213,  952110.74634316,
        879713.55877835, 1947825.37267732,  409787.30298174,
        432837.62794623, 1936349.58911226, 1788989.40389203,
       2107705.04155617, 1265709.4240334 ,  826452.8368832 ,
        565381.53023941, 1050253.32678235, 1289933.40468888,
        614418.81841254, 2215629.54790324, 1805353.3048825 ,
       1460542.67909544, 1745572.01492624, 1050253.14144647,
        933908.85195285, 1901500.87862556, 1533641.62890097,
        994539.87445066, 2195887.88754662, 2198555.04114551,
       1472936.09087209, 1820824.26914623,  886647.04509056,
        544572.19633043, 1050253.08740096, 1048840.37481184,
       2233938.15616918, 1757188.53198747, 1790201.06913644,
       1953412.73999927, 1752644.42752712,  854651.28689197,
        500633.98325134, 1036160.16861594,  901461.45294008,
       1835707.65163457, 2198909.89264606, 1575817.8485992 ,
       1027451.091131  , 1239212.50835582,  924056.78819023,
        896216.42604107, 1730309.37613144,  547965.05606528,
       1981069.65291738, 1828120.5413744 ,  975334.19200374,
       1985530.93022616,  911395.60135923, 1945740.53663981,
        988000.62151008, 1013369.35846193,  667526.68593287,
        932963.3720422 , 2010862.08591268, 2188191.34783739,
       1049078.70019558, 1059016.06560691,  989878.02940652,
       2092878.15462017, 1637026.42195579, 1119210.36422168,
       1957124.10764733, 2045388.59897149,  676673.97495628,
        941202.68517882,  450975.89731213, 1274818.37326044,
        650917.67338324, 1800014.73176997,  475890.08632408,
        832221.12356364, 2213014.98448589, 1050253.28597511,
       1863394.77391434, 1934264.4022849 , 1867815.61325177,
       1056781.24810118,  791616.54301315, 1854963.74188952,
       1505827.03430924, 1615930.47590452,  870097.39295291,
       1307337.29075404])

In [11]:
# Create the DF for Prediction and Actual values
predictions_df = pd.DataFrame({"Prediction": y_pred, "Actual": y_test})
predictions_df.head(10)

       Prediction   Actual
862  2.250868e+06  2327671
223  8.592820e+05   590749
84   9.720451e+05   184027
680  2.061348e+06  2064753
535  1.932877e+06  1882381
623  1.490202e+06  1455913
148  8.157773e+05   352947
3    1.050253e+06  1806480
34   1.050253e+06  2271551
241  8.999053e+05   807695

In [12]:
# Saving predictions_df 
predictions_df.to_csv("../Resources/PredDF_LR.csv", index=False)

In [13]:
# accuracy score
model_score = r2_score(y_test,y_pred)
print('linear regression r2 score is', model_score)
print("mean_squared_error is ==",mean_squared_error(y_test, y_pred))
print("root_mean_squared error is ==",np.sqrt(mean_squared_error(y_test, y_pred)))

linear regression r2 score is 0.6132624442816819
mean_squared_error is == 171889109661.1699
root_mean_squared error is == 414595.11533684266

### Correlation Matrix

In [14]:
# Correlation Matrix of total covid cases and number of passengers.
r1 = np.corrcoef(X.totalcases,y)
r1

array([[1.        , 0.62958704],
       [0.62958704, 1.        ]])

In [15]:
# Correlation Matrix of total vaccinations and number of passengers.
r2 = np.corrcoef(X.totalvaccinations,y)
r2

array([[1.        , 0.70755578],
       [0.70755578, 1.        ]])

In [16]:
# Correlation Matrix of people fully vaccinated and number of passengers.
r3 = np.corrcoef(X.peoplefullyvaccinated,y)
r3

array([[1.        , 0.71984721],
       [0.71984721, 1.        ]])

In [17]:
# Correlation Matrix of new covid cases and number of passengers.
r4 = np.corrcoef(X.newcases,y)
r4

array([[1.        , 0.02317779],
       [0.02317779, 1.        ]])

## Random Forest Classifier Model

In [18]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=100, random_state=0)

In [19]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

RandomForestClassifier(random_state=0)

In [20]:
# Evaluate the model
y_pred_RF = rf_model.predict(X_test_scaled)
print(rf_model.predict(X_test_scaled))

[2352035  831789  199644 1559772 2030577 1820152  264843 2155747 1948138
  578131 1990954 2155747 2155747 2155747 1192881  744812 1736292 1728383
  711124 1146539  701709 1257823 2040364  567401  114459 2196867 1728383
 1979713 1545955 1459054 2213168  662484 1465197 2017937 2028961  764468
 1854534  419675  874406 2100167  683212 2155747 2350927  501513 1978691
  874406 2198517 2288800 1533544 2293242  764761 1814047  540043  784746
  279018  190477  523186 1672895 2155747  864783  625235 1900738 2275133
  625235 2118528  873038 1672895  761861  724770  866679 1871986 2044545
 1738406 1449698 1782705 1736292  542338 1738406 1369410 1820433 1618169
  386969 1510829  724770 1369410 2062579 1761348 1945026 1962056 1995747
 1626185 1811767 2068792 1814047 2036479 1267345   94931 2155747 2379860
 2096466 1785846 1946502 2119867 1660506 1070967 1066747  118302 1190682
 1814047  552024 2114166 2167857 1510829  659350 1666715 1979089  119629
 1992577 1879885 1844208  744812  772380   93645 1059741  703135 2387196
 1477841 1880160  695330 1883294  694150  914823 2063090 2010601  154080
  646654 2007412  603527  772471 1695970 1743515 2158280 1227484  914823
  119854 1814047 1146539  130601 2387196 1681192 1259724 1853622 2155747
  694150 2081064 1591438  883157 1863020 2036479 1446353 1678231 1191123
  111627 1658886 1485553 1946502 1468219 2063090 2127634 1446353  784746
  169580  549741  494826 2132807 2307110 1460478 1051149 1408198  892712
  689951 1900170  119854 2007412 2023309  565946 2227704  689951 1966456
  697985  625235  865014  936915 2379860 1764745 2198517  568688 1168734
 2150150 1315493 1286894 2227704 1815824  163205  873038  787489 1192973
  215645 1618169  114459  683212 2263646 2198657 2023309 2100761 1545955
  967693  689951 1820433 1195306 1301462 1064619 1408198]

In [21]:
# create the dataframe for Prediction and Actual values
predictions_RF = pd.DataFrame({"Prediction": y_pred_RF, "Actual": y_test})
predictions_RF.head(10)

     Prediction   Actual
862     2352035  2327671
223      831789   590749
84       199644   184027
680     1559772  2064753
535     2030577  1882381
623     1820152  1455913
148      264843   352947
3       2155747  1806480
34      1948138  2271551
241      578131   807695

In [22]:
# Saving predictions_df 
predictions_RF.to_csv("../Resources/Predictions_RF.csv", index=False)

In [23]:
# accuracy score
model_rf_score = r2_score(predictions_RF.Actual, predictions_RF.Prediction)
print('r2 score is', model_rf_score)
print("mean_squared_error is ==",mean_squared_error(predictions_RF.Actual, predictions_RF.Prediction))
print("root_mean_squared error is ==",np.sqrt(mean_squared_error(predictions_RF.Actual, predictions_RF.Prediction)))

r2 score is 0.8588100391688871
mean_squared_error is == 62753193480.98655
root_mean_squared error is == 250505.87514265318

Random Forest Model has the a R-squared value of 85%. This means that Random Forest Model is better in prediction when compared to the Linear Regression Model whith an accuracy score of 61%.